.context-menu {
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--font);
    border-radius: 0 4px 4px 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
}
.context-menu[hidden] {
    display: none;
}

.context-menu-themes {
    display: flex;
    gap: 4px;
}

.context-theme {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.context-theme img {
    width: 2rem;
    height: 2rem;
}

.context-menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.context-option {
    width: 100%;
    padding-left: .25rem;
    text-align: left;
}