/*#region Credits */
.credits {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.spartronics-logo {
    width: 16rem;
    border-radius: 16px;
}

.credits-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.credits-section.horizontal {
    display: inline;
}

.credits-spartronics-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.credits a.big {
    font-size: 2rem;
}

.credits button.big {
    font-size: 2rem;
    height: 3rem;
}
/*#endregion Credits */

/*#region Settings */

.settings {
    display: flex;
    flex-direction: column;
}

.settings-theme-picker {
    display: flex;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    border: 1px solid var(--line);
    width: fit-content;
}

.settings-theme {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bg);
    width: 200px;
    height: 150px;
    border: 1px solid var(--line);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

/*#endregion Settings */
