body {
    background: var(--bg);
    font-family: Lato, sans-serif;
    margin-top: 0;
    max-width: 100vw;
}

dialog {
    z-index: 10000;
}

.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.top-control-dropdown {
    background: var(--bg);
    backdrop-filter: blur(4px);
    padding: 0;
    outline: 0;
    border: 0;
    position: fixed;
    margin: 0;
    filter: drop-shadow(-1px 1px 1px var(--shadow));
    border-radius: .4rem;
}
.top-control-dropdown:focus {
    outline: 0;
    border: 0;
}
.top-control-dropdown div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: 0;
    padding: 0;
}
.top-control-dropdown div button {
    margin: 0;
}

#loading {
    color: var(--font);
    font-size: 4rem;
    font-weight: bold;
}
#loading.hidden {display: none;}

.sticky-header {
    position: sticky;
    background-color: var(--bg);
    top: 0;
    z-index: 9999;
}

footer {
    display: flex;
    width: 100%;
}
footer a {
    margin: 0 .1rem;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome {
    width: 400px;
    background-color: var(--bg);
    border: 1px solid var(--font);
    border-radius: .25rem;
    display: flex;
    gap: .25rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-item {
    display: flex;
    align-items: center;
}