body {
    background: var(--bg);
    font-family: "Lato", sans-serif;
    margin-top: 0;
}

.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

err {
    color: red;
    font-size: 4rem;
    font-weight: bold;
}
err.hidden {display: none;}

.sticky-header {
    position: sticky;
    background-color: var(--bg);
    top: 0;
}