.notebook, .notebook-stars {
    position: fixed;
    z-index: 10000000;
    padding: 8px;
    border: 2px solid var(--font);
    border-radius: 6px;
    background-color: var(--bg);
    box-sizing: content-box;
}

.notebook-nav {
    display: flex;
    overflow-x: auto;
    gap: 4px;
    width: 100%;
    align-items: center;
    overflow-y: clip;
}

.notebook-tab {
    padding: 4px;
    border: 1px solid var(--line);
    border-radius: 4px 4px 0 0;
    white-space: nowrap;
}
.notebook-tab.selected {
    background-color: var(--highlight);
}

textarea.notes {
    font-family: Lato, sans-serif;
    min-width: 80px;
    min-height: 0;
}

.notebook-btn {
    cursor: pointer;
}

.notebook-drag {
    cursor: move;
}

.starbook-toggler {
    display: flex;
    align-items: center;
}