:root {
    font-size: 1.5rem;
}

body {
    margin: 0 1rem 1rem 1rem;
}


.data.tiny {
    width: 121.5px;
    min-width: 81px;
}
.data {
    width: 180px;
    min-width: 120px;
}
.data.large {
    width: 315px;
    min-width: 210px;
}
.data.massive {
    width: 450px;
    min-width: 300px;
}

.star, .ignore {
    font-size: 1.75rem;
}

.comments-title {
    font-size: 1.2rem;
}

.team-comments {
    font-size: 1rem;
}

.match-alliance {
    font-size: .8rem;
}

.match-number {
    font-size: 1rem;
}