.context-menu {
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--font);
    border-radius: 0 4px 4px 4px;
    transition: 5000ms;
    overflow: hidden;
}

.context-menu[collapsed] {
    width: 0;
    height: 0;
}