.team-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-page-holder {
    width: 100%;
    display: flex;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.team-info, .team-data, .team-info-description, .matches {
    display: flex;
    flex-direction: column;
}

.team-info-basic {
    display: flex;
    flex-direction: row;
}

.logo-large {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid black;
}

.team-name {
    font-weight: bold;
    font-size: 2rem;
}


.matches {
    gap: 4px;
}

.match {
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--font);
    justify-content: space-between;
}
.match-number {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.match-number.trophy {
    background-color: var(--green);
}
.match-number.balance {
    background-color: var(--yellow);
}
.match-number.skull {
    background-color: var(--red);
}