.team-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-page-holder {
    width: 100%;
    display: flex;
    gap: 8px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin-bottom: 4px;
}

.team-info,
.team-data,
.team-info-description,
.matches,
.graph-selection-holder {
    display: flex;
    flex-direction: column;
}

.team-info {
    width: 600px;
}

.team-info-basic {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.logo-large {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid black;
}

.team-name {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.team-star {
    font-size: 1em;
}

/*#region Matches*/
.matches {
    gap: 4px;
}
.match {
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--font);
    justify-content: space-evenly;
}
.match-number {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border-right: 1px solid black;
}
.match-number.trophy {
    background-color: var(--green);
}
.match-number.balance {
    background-color: var(--yellow);
}
.match-number.skull {
    background-color: var(--red);
}
.match-alliance {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    width: 100%;
}
.match-alliance.red {
    background-color: var(--red);
}
.match-alliance.blue {
    background-color: var(--blue);
}
/*#endregion*/

/*#region Compare*/
.compare-holder {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding: 8px;
    border: 1px solid var(--font);
    gap: 4px;
    border-radius: 4px;
    font-size: 1.3rem;
}

.compare-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compare-team {
    border: 1px solid var(--font);
    display: flex;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
}

.compare-team-name {
    cursor: pointer;
    text-decoration: underline;
}

/*#endregion*/

.team-data {
    width: 100%;
}

/*#region Graph, Comments*/
.graph-comments-holder {
    display: flex;
    gap: 4px;
    flex-direction: row;
    order: -1000001;
}

.graph-selection-holder {
    border: 1px solid var(--font);
    border-radius: 4px;
    width: 250px;
    padding: 4px;
    gap: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

.graph-holder,
.comments-holder {
    flex-direction: column;
    display: flex;
}

.graph-controls {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.graph {
    width: 500px;
    height: 500px;
    color: black;
}
.graph.initial {
    border: 1px solid var(--font);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--placeholder);
    min-width: 500px;
    height: 500px;
}


.comments-holder {
    width: 100%;
}

.comments-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.team-comments {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}
/*#endregion*/