.robot-view {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.robot-view-team {
    border: 1px solid var(--line);
    border-radius: 8px;
    max-width: 24%;
    max-height: 19%;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.robot-view-top-controls {
    width: 100%;
    order: -1000;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.robot-view-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.robot-view-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.robot-view-controls {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.robot-view-control-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
.robot-view-control-section span {
    font-size: 1.5rem;
}

.robot-view-name-number {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.robot-view-name {
    font-size: 2rem;
}

.robot-view-number {
    font-size: 3rem;
}

.robot-view-padding {
    width: 100%;
    height: 100%;
}